Flask
Flask-Mail
Flask-Session
Flask-WTF
gunicorn

# Machine Learning & Deep Learning
scikit-learn
pandas
numpy
tensorflow
keras
torch

# Image Processing
opencv-python
Pillow

# MongoDB & Async Database Handling
pymongo
motor
bcrypt

# Chatbot Dependencies
nltk

# Miscellaneous
werkzeug
requests
