<!doctype html>
<html lang="en">
  <head>
    
    <!-- Bootstrap CSS -->
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Claim Trust</title>
  </head>
  <body>

<header class="text-gray-600 body-font">
    <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="/static/images/rawImage.ico" alt="">
          </div>
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        <span class="ml-3 text-xl">Claim Trust</span>
      
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
            <a href="./" class="font-medium text-gray-500 hover:text-gray-900">Home</a>

            <a href="./services" class="font-medium text-gray-500 hover:text-gray-900">Services</a>

            <a href="./about" class="font-medium text-gray-500 hover:text-gray-900">About us</a>

            <a href="./contact" class="font-medium text-gray-500 hover:text-gray-900">contact</a>
            <a href="./login1" class="font-medium text-gray-500 hover:text-gray-900">login</a>
            
          </div>
      </nav>
    </div>
  </header>
  <!-- Navigation end here -->
  <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <p class="font-normal text-sm leading-3 text-indigo-700 dark:text-indigo-500 hover:text-indigo-800 cursor-pointer pb-2">About</p>
    <div class="flex lg:flex-row flex-col lg:gap-8 sm:gap-10 gap-12">
        <div class="w-full lg:w-6/12">
            <h2 class="w-full font-bold lg:text-4xl text-3xl lg:leading-10 dark:text-white leading-9">We are here to make great design accessible and delightfull for everyone</h2>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6">At our insurance fraud detection website, our mission is to provide accessible and delightful design to everyone. We firmly believe that design plays a crucial role in delivering a seamless user experience.

              We understand that readers can get distracted by the layout and content of a webpage. To counter this, we strive to create an engaging and user-friendly interface that ensures a smooth browsing experience.</p>
        </div>
        <div class="w-full lg:w-6/12">
            <img class="lg:block hidden w-full" src="../static/image/shadow.jpeg" alt="people discussing on board" />
            <img class="lg:hidden sm:block hidden w-full" src="../static/blogs images/shadow.jpeg" alt="people discussing on board" />
            <img class="sm:hidden block w-full" src="../static/blogs images/shadow.jpeg" alt="people discussing on board" />
        </div>
    </div>

    <div class="relative mt-24">
        <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
            <div class="z-20 w-12 h-12 bg-gray-800 rounded-full flex justify-center items-center">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg1.svg" alt="flag" />
            </div>

          <img class="z-20" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg2.svg" alt="note" />

           <img class="z-20 sm:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg3.svg" alt="users" />
        </div>
        <hr class="z-10 absolute top-2/4 w-full bg-gray-200" />
    </div>
    <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
        <div>
            <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">Our Vision</p>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6">Founded with a vision to lead the way in promoting sustainable living and eco-friendly practices for homes worldwide, EcoHomeSolutions is committed to making a positive impact on the environment by encouraging responsible choices and conscious living.</p>
        </div>
        <div>
            <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">Trustworthy Partner</p>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6">We are committed to upholding trust and credibility in the insurance industry. Count on our solutions to protect policyholders' interests and maintain the ecosystem's integrity.</p>
        </div>
        <div class="sm:block hidden">
            <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6">Educating and Empowering</p>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6">At InsuranceDetectPro, we believe knowledge is power. Our platform offers educational resources and actionable insights to empower insurers in making informed decisions and staying ahead of fraudulent schemes.</p>
        </div>
    </div>
    <div class="sm:hidden block relative mt-8">
        <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
           <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg3.svg" alt="user" />
        </div>
        <hr class="z-10 absolute top-2/4 w-full bg-gray-200" />
    </div>
    

    <div class="flex lg:flex-row flex-col md:gap-14 gap-16 justify-between lg:mt-20 mt-16">
        <div class="w-full lg:w-6/12">
            <h2 class="font-bold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 dark:text-white">Our Mission</h2>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-200 mt-6 w-full lg:w-10/12 xl:w-9/12">At our insurance fraud detection website, our mission is to safeguard the insurance industry and protect honest policyholders from the detrimental effects of fraud. Leveraging advanced technology and data-driven solutions, we are dedicated to detecting and preventing fraudulent activities with unparalleled accuracy. Our goal is to create a secure and trustworthy platform where insurers and individuals can transact confidently, knowing they are shielded from deceptive practices. Through rigorous analysis and innovative algorithms, we identify suspicious patterns, ensuring that only legitimate claims are efficiently processed. Our team of professionals is driven by the desire to foster transparency and integrity within the insurance ecosystem, empowering insurers to make informed decisions and mitigate risks effectively.</p>
            
        </div>
        <div class="w-full lg:w-6/12">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 lg:gap-12 gap-10">
                <!-- Creative Minds Cards -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                       <img class="mr-6"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg4.svg" alt="team card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">Creative Minds</p>
                        <p class="mt-2 font-normal text-base leading-6 text-gray-600 dark:text-gray-200">Our team of talented designers, developers, and strategists collaborate to craft captivating and unique experiences that leave a lasting impression.</p>
                    </div>
                </div>

                <!-- Inovation Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                       <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg5.svg" alt="board card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">Unleashing Innovation</p>
                        <p class="mt-2 font-normal text-base leading-6 text-gray-600 dark:text-gray-200">Our creative minds collaborate to craft captivating experiences that drive success.</p>
                    </div>
                </div>

                <!-- Experiences Card -->
                <div class="flex p-4 shadow-md">
                    <div class="mr-6">
                       <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/about-us-3-svg6.svg" alt="press card" />
                    </div>
                    <div class="">
                        <p class="font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white">Engaging Experiences</p>
                        <p class="mt-2 font-normal text-base leading-6 text-gray-600 dark:text-gray-200">We engage audiences with unique and compelling solutions, leaving a lasting impact.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer start here -->
<body>
  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="../static/images/rawImage.png" class="w-10 h-10 p-2 bg-white-500 rounded-full">

        <span class="ml-3 text-xl">Claim Trust</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 All Right are Reserved —
        <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Claim Trust</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href="https://www.instagram.com/invites/contact/?i=8zkglwdp1l2d&utm_content=3hmbmst"
         class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/deepeshkumar2104/" class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>
    <!-- ====== Footer Section End -->
</body>
