<!doctype html>
<html lang="en">
  <head>
    
    <!-- Bootstrap CSS -->
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Claim Trust</title>
  </head>
  <body>

<header class="text-gray-600 body-font">
    <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="/static/images/rawImage.ico" alt="">
          </div>
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        <span class="ml-3 text-xl">Claim Trust</span>
      
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
            <a href="./" class="font-medium text-gray-500 hover:text-gray-900">Home</a>

            <a href="./services" class="font-medium text-gray-500 hover:text-gray-900">Services</a>

            <a href="./about" class="font-medium text-gray-500 hover:text-gray-900">About us</a>

            <a href="./contact" class="font-medium text-gray-500 hover:text-gray-900">contact</a>
            <a href="./login1" class="font-medium text-gray-500 hover:text-gray-900">login</a>
            
          </div>
      </nav>
    </div>
  </header>
  <!-- NAvigation ends -->
<!-- ====== Services Section Start -->
<section class="pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[510px] text-center lg:mb-20">
          <span class="text-primary mb-2 block text-lg font-semibold">
            Our Services
          </span>
          <h2
            class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]"
          >
            What We Offer
          </h2>
          <p class="text-body-color text-base">
            Empower your insurance business with our advanced Machine Learning-based Fraud Detection services, offering real-time monitoring and customizable solutions to combat fraudulent activities effectively.
          </p>
        </div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          
          <h4 class="text-dark mb-3 text-xl font-semibold">
            App Development
          </h4>
          <p class="text-body-color">
            Transform your ideas into innovative and user-friendly mobile applications with our expert app development services, catering to diverse platforms and industries.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Web Development
          </h4>
          <p class="text-body-color">
            Create dynamic and responsive websites that leave a lasting impression, as we specialize in delivering top-notch web development solutions tailored to your unique requirements.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          
          <h4 class="text-dark mb-3 text-xl font-semibold">Machine Learning</h4>
          <p class="text-body-color">
            Harness the power of AI and Machine Learning to unlock valuable insights from your data, enabling data-driven decision-making and predictive analytics.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <h4 class="text-dark mb-3 text-xl font-semibold">Data Science</h4>
          <p class="text-body-color">
            Leverage our Data Science expertise to extract meaningful information from complex datasets, driving business intelligence and strategic growth.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Python Projects
          </h4>
          <p class="text-body-color">
            Our skilled Python developers bring your visions to life through a wide range of customized Python projects, offering versatility and efficiency.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] bg-white p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <h4 class="text-dark mb-3 text-xl font-semibold">UI/UX</h4>
          <p class="text-body-color">
            Deliver exceptional user experiences with our UI/UX design services, ensuring intuitive interfaces that captivate your audience and enhance user engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Services Section End -->

  <!-- footer start here -->
<body>
  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="../static/images/rawImage.png" class="w-10 h-10 p-2 bg-white-500 rounded-full">

        <span class="ml-3 text-xl">Claim Trust</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 All Right are Reserved —
        <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Claim Trust</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href="https://www.instagram.com/invites/contact/?i=8zkglwdp1l2d&utm_content=3hmbmst"
         class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/deepeshkumar2104/" class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>
    <!-- ====== Footer Section End -->
</body>
